
/* extra Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .b_text {
        padding: -37px 0px;
        text-align: center;
    }
    .p_banner{
        margin-left: 0;
    }
    .h1_banner{
        font-size: 34px;
    }
    .form-control{
        width: 300px;
        height: 50px;
    }
    .cus-btn {
        right: -4px;
        width: 70px;
        height: 50px;
    }

     .divider{
        width: 0px;
        height: 35px;
     }
     .top{
        padding-top: 20px;
    }
    .icon {
        margin-bottom: 30px;
    }
    .micoach {
        padding: 25px 30px;
        text-align: center;
    }
    .child2 {
        top: 4px;
        right: 200px;
    }
     h2, h2{
        text-align: center;
        padding-left: 75px;
    }
    .child3 {
        right: 340px;
    }
    .lastbanner {
        padding: 15px 20px;
    }
    .b_last {
        text-align: center;
    }
    .lastimg {
        padding: 0;
        margin: 0;
    }
    .btnlast {
        padding-left: 30px;
    }
}     




 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)and (max-width: 767.98px) { 
        .b_text{
        text-align: center;
    }
    .h1_banner{
        font-size: 34px;
    }
    .form-control{
        width: 268px;
        height: 50px;
    }
    .cus-btn{
        right: 30px;
        width: 68px;
        height: 47px;
     }
     .divider{
        width: 0px;
        height: 35px;
     }
 }



 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)  {
    .cus-btn{
        right: 307px;
        height: 58px;
     }
    
 }



 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .cus-btn{
        right: 68px;
     }
 }



 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {  

}



 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }